extends _template.jade

block title
    title Page not found

block head
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,300' rel='stylesheet' type='text/css')

block content
    .container
        h1 Page not found
        .smaller (error 404)
        p Page you are trying to view does not exist.