extends _template.jade

block title
    title Web starter kit

block head
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:100,300' rel='stylesheet' type='text/css')

block content
    div.container
        h1 Web starter kit
        p All you need to create beautiful static websites.