@import 'normalize';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;

    $text_color: #444;
    $gradient_top: #fbfbfb;
    $gradient_bottom: #cdcdcd;

    background: -webkit-linear-gradient(top, $gradient_top, $gradient_bottom);
    
    h1, p {
        font-family: 'Work Sans', sans-serif;
    }

    

    h1 {
        font-size: 5rem;
        margin: 0.7rem 0;
        letter-spacing: 0.15rem;
        font-weight: 100;
        color: $text_color;
    }

    p {
        font-size: 1rem;
        color: $text_color;
        font-weight: 300;
    }

    .smaller {
        margin-bottom: 20px;
        font-size: 0.9em;
        font-family: 'Work Sans', sans-serif;
        color: $text_color;
    }
}
